body {
     font-family: 'GidoleRegular';
     line-height: 1.8px;
     color: #6a6a6a;
     font-size: 20px;
     padding-top:60px:
     font-weight: normal;
     font-style: normal;
}
 @media (max-width: 979px) {
     body {
         padding-top: 0px;
    }
}
 footer {
     background-color: #2f2f2f;
     color: #fff;
}
 h1 {
     font-weight: bolder;
}
 p {
     font-size: 16px;
}
 .base-paragraph {
     margin-left: 80px;
     margin-right: 80px;
}
 .embed {
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 20px;
     background-color: #f4f4f5;
     border-radius: 25px;
}
 .margin {
     margin-bottom: 30px;
}

/* Backgrounds */
 .bg-1 {
     font-weight: bold;
     background-color: #fff;
    /* Green */
     color: #6a6a6a;
}
 .bg-2 {
     background-color: #3A3B3C;
     color: #ffffff;
}
 .bg-3 {
     background-color: #ac9552;
     color: #fefefa;
}

 .background-cool {
     background-image: url("/photos/group.jpg");
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     min-height: 500px;
  /* color: #6a6a6a; */
}
/* .bg-1-header {
     background-color: #DDD;
}
 .bg-2-header {
}
 */
 @media (min-width: 768px) {
     div.col-sm-7.five-three {
         width: 60% !important;
    }
     div.col-sm-5.five-two {
         width: 40% !important;
    }
}
 .container-fluid {
     padding-top: 20px;
     padding-bottom: 20px;
}
 .img-center {
     margin-left: auto;
     margin-right: auto;
}


/* Tables */
 .rush-table {
     font-size: 18px;
     margin-left: 150px;
     margin-right: 150px;
}

 .panel-heading {
     color: #a9a9a9;
     border-top-left-radius: 25px;
     border-top-right-radius: 25px;
}

 .panel {
     border-radius: 25px;
     opacity: 90%;
     transition: box-shadow 0.5s;
}

 .panel-footer {
     color: #a9a9a9;
     border-bottom-left-radius: 25px;
     border-bottom-right-radius: 25px;
}

 .panel:hover {
     box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

 .grow {
     transition: all .2s ease-in-out;
}

 .grow:hover {
     transform: scale(1.1);
}

 .navbar {
     background-color: #ac9552;
     color: #fefefa;
     padding-top: 15px;
     padding-bottom: 15px;
     border: 0;
     border-radius: 0;
     margin-bottom: 0;
     font-size: 18px;
     letter-spacing: 5px;
     font-weight: bold;
}
 .navbar-nav li a:hover {
     color: #DDDDDD !important;
}
 .footer-paragraph {
     margin-top: 15px;
     margin-bottom: 15px;
}

/* Motto Effect */
.fade-in-text {
  animation: fadeIn 5s;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
