body {
  font: 20px Montserrat, sans-serif;
  line-height: 1.8px;
  color: #6a6a6a;
  padding-top:60px:
}

@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

footer {
  background-color: #2f2f2f;
  color: #fff;
}

h1 {
  font-weight: bolder;
}

p {
  font-size: 16px;
}

.base-paragraph {
  margin-left: 80px;
  margin-right: 80px;
}

.margin {
  margin-bottom: 45px;
}

.bg-1 {
  font-weight: bold;
  background-color: #fff; /* Green */
  color: #6a6a6a;
}

.bg-2 {
  background-color: #3A3B3C;
  color: #ffffff;
}

@media  (min-width: 768px) {
  div.col-sm-7.five-three {
    width: 60% !important;
  }

  div.col-sm-5.five-two {
    width: 40% !important;
  }
}

.container-fluid {
  padding-top: 20px;
  padding-bottom: 20px;
}

.img-center {
  margin-left: auto;
  margin-right: auto;
}

.rush-table {
  font-size: 18px;
  margin-left: 150px;
  margin-right: 150px;
}

.panel {
  border-radius:0 !important;
  transition: box-shadow 0.5s;
}

.panel-footer {
  color: #a9a9a9;
}

.panel:hover {
  box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

.navbar {
  background-color: #ac9552;
  color: #fefefa;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 18px;
  letter-spacing: 5px;
  font-weight: bold;
}

.navbar-nav  li a:hover {
  color: #DDDDDD !important;
}

.footer-paragraph {
  margin-top: 15px;
  margin-bottom: 15px;
}
